* {
  font-family: "Poppins", sans-serif;
}

main {
  height: 90%;
}

body {
  margin: 0;
  background-color: rgb(219, 219, 219);
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;

  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media(max-width: 1580px){
  * {
    font-size: 93.75%;
  }
}

@media(max-width: 1100px){
  * {
    font-size: 81.25%;
  }
}

@media(max-width: 900px){
  * {
    font-size: 75%;
  }
}

@media(max-width: 720px){
  * {
    font-size: 62.5%;
  }
}

@media(max-width: 400px){
  * {
    font-size: 56.25%;
  }
}

@media(max-width: 350px){
  * {
    font-size: 50%;
  }
}

@media(max-width: 315px){
  * {
    font-size: 43.75%;
  }
}