* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fadeInLong {
  -webkit-animation: fadeIn 5s ease-in-out;
  -moz-animation: fadeIn 5s ease-in-out;
  -o-animation: fadeIn 5s ease-in-out;
  animation: fadeIn 5s ease-in-out;
}
.fadeInShort {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

main {
  height: 90%;
}

body {
  margin: 0;
  background-color: #F2F3F5;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;

  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2.title {
  color: #666666;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  border-top: 1rem solid #960900;

  width: 100%;

  margin: 0;
  margin-bottom: 5rem;
  padding-top: 4rem;
}

@media(max-width: 1580px){
  * {
    font-size: 93.75%;
  }
}

@media(max-width: 1100px){
  * {
    font-size: 81.25%;
  }
}

@media(max-width: 900px){
  * {
    font-size: 75%;
  }
}

@media(max-width: 720px){
  * {
    font-size: 62.5%;
  }
}

@media(max-width: 400px){
  * {
    font-size: 56.25%;
  }
}

@media(max-width: 350px){
  * {
    font-size: 50%;
  }
}

@media(max-width: 315px){
  * {
    font-size: 43.75%;
  }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}