header {
  position: fixed;
  top: 0%;
  
  display: flex;
  align-items: center;

  width: 100%;
  background-color: #960900;
  z-index: 10;

  visibility: hidden;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 5rem;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  margin: auto;
}

header .menu a {
  position: relative;

  font-weight: 300;
  font-size: 1.3rem;
  color: #FFF;

  opacity: 90%;

  padding: .5rem 1rem;
  border-radius: 15px;
}

header .menu a:hover {
  opacity: 1;
}

header nav {
  position: relative;
  height: 100%;
  width: 80%;

  margin: auto;
}

header nav img {
  height: 5rem;
} 

.header .image-instagram {
  position: absolute;
  top: 50%;
  right: .7rem;
  transform: translateY(-50%);

  height: 3rem;
}

.selected a {
  border: #e4d6d6 solid 2px;
  transition: background-color .5s;
}

.selected a:hover {
  opacity: 1;
}

.menu-interface-div {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  height: 3rem;
  width: 3rem;

  border-radius: 50%;
  display: none;
}

.menu-interface  {
  height: 1.5rem;
}

.logo-hidden {
  display: none;

  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.logo-hidden img {
  height: 5rem;
}

.menu span {
  display: none;
  font-size: 3rem;
  position: absolute;
  top: 1%;
  right: 1rem;
  color: #929292;
}

@media(max-width: 900px) {
  header nav {
    width: 100%;
  }
}

@media(max-width: 500px) {
  .menu span {
    display: inline;


  }

  .selected a:hover {
    background-color: #ffffff00;
  }

  .image-instagram {
    height: 2.5rem;
  }

  nav {
    display: none;
  }

  nav img {
    display: inline;
  }

  .menu-interface-div {
    display: flex;
  }

  .logo-hidden {
    display: inline;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    left: 0;
    width: 50%;
  }

  nav ul li:nth-child(3) {
    display: none;
  }

  nav .menu a {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
  }
}