#team {
  background-color: #F2F3F5;
  height: 100%;
}

#team > div:first-child {
  width: 100%;
  position: relative;
  z-index: 0;
}

#team hr {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);

  border-top: 2px solid #D7D8DA;
  width: 30%;
}

.container-team {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  width: 70%;
  margin: auto;
  padding-bottom: 2rem;
}

.container-team > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;

  border-radius: 8px;
  border-left: 4px solid rgb(33, 64, 201);
  box-shadow: 1px 3px 4px 0px rgb(185, 185, 185);

  padding: 1rem 1.5rem 3rem;
}

#team .name-pos {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  margin-top: 1.5rem;

  border-left: 7px solid #d3d3d3;
}

.name-pos span {
  margin-left: 1rem;
  font-size: .9rem;
  font-style: italic;
  font-weight: 700;
  color: #4b4b4b;
}

.name-pos strong {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  font-size: .9rem;
  font-style: italic;
  font-weight: 600;
  color: #1bb7cc;
}

#team img {
  border-radius: 100%;
  border: solid 4px #d3d3d3;

  height: 10rem;
}

@media(max-width: 1860px) {
  #team img {
    height: 8rem  ;
  }
}

@media(max-width: 1620px) {
  .container-team {
    width: 80%;
  }
}

@media(max-width: 1330px) {
  .container-team {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 900px) {
  .container-team {
    grid-template-columns: repeat(3, 1fr);
  }

  #team img {
    height: 9rem  ;
  }

  .name-pos strong, .name-pos span {
    font-size: 1rem;
  }
}

@media(max-width: 580px) {
  .container-team {
    grid-template-columns: repeat(2, 1fr);
  }

  #team img {
    height: 9.5rem  ;
  }

  .name-pos strong, .name-pos span {
    font-size: 1.2rem;
  }
}